<!-- Страница загрузки администратором криптовалют с биржи Poloniex, функция Load_Poloniex_Currencies из blok4/views.py -->
{% extends 'base.html' %} <!-- наследуемся(вставка в base блока content) от основного шаблона base.html (верх,основа,футер) -->
{% load static %} <!-- обращаемся в каталог static где наши jpg и css, далее в settings.py обращаемся в каталоги static_baz, static_prg -->
{% block title %}Загрузка криптовалют биржи Poloniex{% endblock %}

{% block menu_kab %}
    {% if user.is_superuser == 1 %}
       {% include 'navbar_kaba.html' %} <!-- Меню администратора -->
    {% else %}
       {% include 'navbar_kab.html' %} <!-- Меню пользователя -->
    {% endif %}
{% endblock menu_kab %}

{% block content %}

    <div class="section-top"> <!--  class="section-top" стили в style.css  -->
        <div class="container-fluid img-responsive img-rounded fon4"> <!-- fon картинка фона для блока в style.css -->
            <div class="row">
                <h4 class="text-center">
                        Загрузка криптовалют биржи Poloniex
                </h4> <!-- по клику button class poloniex в load_poloniex_currency.js (не использую)-->
                <form class="upload_form" action="{% url 'Load_Poloniex_Currencies' %}" method="post">{% csrf_token %}
                    <p><button class="btn btn-success">Загрузить с Poloniex</button></p>
                </form>
                        <!-- progress bar, класс not-visible в style.css
                        <div class="not-visible progress" id="progress"></div> -->

                        <div class="col-md-12">
                            <!-- показываем валюты которые присутствуют на бирже Poloniex словарь currencies функции form_exchange файла blok1/views.py -->
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th>Символ валюты</th>
                                            <th>Id валюты</th>
                                            <th>Название валюты</th>
                                            <!--<th>Тип блокчейна, на котором работает валюта</th>
                                            <th>Тип валюты</th> -->
                                            <th>Сетевая комиссия, необходимая для вывода этой валюты</th>
                                            <!-- <th>Минимальное количество блоков, необходимое для зачисления депозита на счет</th> -->
                                            <th>Если доступно, адрес депозита для этой валюты</th>
                                            <!--<th>Указывает, отключены ли (1) или нет (0) депозиты и снятие средств</th>
                                            <th>Определяет, отключена ли (1) или нет (0) торговля этой валютой</th>
                                            <th>depositDisabled</th>
                                            <th>tradeDisabled</th>
                                            <th>hexColor</th>
                                            <th>Блокчейн, на котором работает валюта</th>
                                            <th>Указывает, исключена (1) или нет (0) эта валюта из списка биржи</th>
                                            <th>Указывает, доступна ли эта валюта (1) или нет (0) этому клиенту из-за ограничений геозоны</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in currencies.items %}
                                          {% if value.delisted == 0 %}
                                            <tr>
                                                <td>
                                                     {{ key }}
                                                </td>
                                                <td>
                                                     {{ value.id }}
                                                </td>
                                                <td>
                                                     {{ value.name }}
                                                </td>
                                                <!--<td>
                                                     {{ value.humanType }}
                                                </td>
                                                <td>
                                                     {{ value.currencyType }}
                                                </td> -->
                                                <td>
                                                     {{ value.txFee }}
                                                </td>
                                                <!--<td>
                                                     {{ value.minConf }}
                                                </td> -->
                                                <td>
                                                     {{ value.depositAddress }}
                                                </td>
                                                <!--<td>
                                                     {{ value.disabled }}
                                                </td>
                                                <td>
                                                     {{ value.frozen }}
                                                </td>
                                                <td>
                                                     {{ value.depositDisabled }}
                                                </td>
                                                <td>
                                                     {{ value.tradeDisabled }}
                                                </td>
                                                <td>
                                                     {{ value.hexColor }}
                                                </td>
                                                <td>
                                                     {{ value.blockchain }}
                                                </td>
                                                <td>
                                                     {{ value.delisted }}
                                                </td>
                                                <td>
                                                     {{ value.isGeofenced }}
                                                </td> -->
                                            </tr>
                                          {% endif %}

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>

                        </div>
                        <div class="col-md-2">

                        </div>


            </div>
        </div>
    </div>

{% endblock %}

