<!-- Условия -->
{% extends 'base.html' %} <!-- наследуемся(вставка в base блока content) от основного шаблона base.html (верх,основа,футер) -->
{% load static %} <!-- обращаемся в каталог static где наши jpg и css, далее в settings.py обращаемся в каталоги static_baz, static_prg -->


{% block content %}
    {% include 'navbar.html' %}
    <div class="section-top"> <!--  class="section-top" стили в style.css  -->
        <div class="container-fluid img-responsive img-rounded fon4"> <!-- fon картинка фона для блока в style.css -->
            <div class="row">
                <h4 class="text-center">
                        AML политика
                </h4>

                        <div class="col-md-12 text-justify">
                            <span>Данная политика направлена на выявление транзакций связанных с финансированием терроризма, отмыванием денежных средств, а так же иной противозаконной деятельности.</span><br>
                            <span>Для определения таких транзакций обменный сервис obmen.zipper.net использует сервис GetBlock.</span><br>
                            <span>В случае если AML риск по транзакции превышает значение 70%, сервис оставляет за собой право:</span>
                        </div>
            </div>
            <br>
            <div class="row">
                        <ul class="terms_txt">
                            <li>Приостановить транзакцию;</li>
                            <li>Запросить у пользователя фото или видео с документом, подтверждающим личность пользователя (Селфи);</li>
                            <li>Запросить у пользователя Скрин из ЛК кошелька вывода криптовалюты;</li>
                            <li>Заблокировать аккаунт и любые операции, связанные с пользователем, передать в контролирующие финансовую деятельность и/или правоохранительные органы по месту регистрации Сервиса;</li>
                            <li>Удерживать средства пользователя до полного расследования инцидента;</li>
                            <li>Осуществлять возврат цифровых активов только на реквизиты, с которых перевод был осуществлен или перейти на другие реквизиты, после полной проверки службой безопасности Сервиса, если удалось проверить легальное происхождение средств пользователя;</li>
                            <li>Удерживать средства пользователя до полного расследования инцидента.</li>
                            <li>Запрашивать у пользователя иные материалы и документы касающиеся обмена.</li>
                            <li>В случае если пользователь не предоставляет запрошенную информацию и не отвечает на запросы сервиса в течении 6 календарных месяцев, удержанные средства не возвращаются.</li>
                        </ul>
            </div>
            <br>
        </div>
    </div>

{% endblock %}