<!-- Страница для просмотра,редактирования наименования валют таблицы БД Name_Currency blok2/models.py вызываемая из navbar_kaba.html -->
<!-- Отображаем таблицу с помощью плагина datatables.net, подключаем плагин и его стили в blok1/base.html -->
<!-- Дополнительно используем фрэймворк rest framework, pip install djangorestframework, pip install django-model-utils -->
<!-- В settings.py подключаем в INSTALLED_APPS фрэймворк 'rest_framework' -->
<!-- вызов страницы прописан в blok2/views.py функцией NameCurrency через blok2/urls.py -->
<!-- обработка таблицы и всплывающих форм через скрипт js/table_name_currency.js методом ajax-->
<!-- используем маршрутизатор DefaultRouter фрэймворка rest framework в chgskv/urls.py -->
{% extends 'base.html' %} <!-- наследуемся(вставка в base блока content) от основного шаблона base.html (верх,основа,футер) -->
{% load static %} <!-- обращаемся в каталог static где наши jpg и css -->
{% block title %}Справочник наименования валют{% endblock %}

{% block menu_kab %}
    {% if user.is_superuser == 1 %}
       {% include 'navbar_kaba.html' %} <!-- Меню администратора -->
    {% else %}
       {% include 'navbar_kab.html' %} <!-- Меню пользователя -->
    {% endif %}
{% endblock menu_kab %}

{% block content %}
{% if user.is_superuser == 1 %}
<div class="container">
    <div class="jumbotron">
        <h3 class="text-center">Справочник наименования валют</h3>
    </div>

    <!-- New  button -->
    <div class="text-center">
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-md" id="new">Новая запись</button>
    </div>
    <br>
    <!-- datatables action="/path/to/your/script" {% csrf_token %} -->
    <form id="frm-datatables" method="POST">{% csrf_token %}
        <table id="datatables" class="table table-hover">
            <thead>
            <tr>
                <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                <th>id</th>
                <th>Площадка (биржа)</th>
                <th>Id площадки (биржи)</th>
                <th>Валюта</th>
                <th>Символ</th>
                <th>Иконка</th>
                <th>Кошелек(счет)</th>
                <th>Активный</th>
                <th>Создан</th>
                <th>Изменен</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tfoot>
            <tr>

            </tr>
            </tfoot>
        </table>
        <br>
    <p><button class="btn btn-success">Удалить группу</button></p>
    <!--  id="chekbox" значение в table_name_currency.js
    <b>Отправка на сервер для обработки выбора чекбокс:</b><br>
    <pre id="chekbox">
    </pre> -->
    </form>


    <!-- NEW and EDIT Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="token">{% csrf_token %}
                        <div class="form-group">
                            <label for="market_exchange_id"><span class="glyphicon glyphicon-pencil"></span> Площадка(биржа)</label>
                            <select id="market_exchange_id" name="market_exchange_id">
                              {% for m in marketexchange %}
                                  <option value="{{ m.id }}">{{ m.market }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_market"><span class="glyphicon glyphicon-pencil"></span> Id площадки(биржи)</label>
                            <input type="text" class="form-control" id="id_market" name="id_market" placeholder="Enter Id Market"
                                   required maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="currency"><span class="glyphicon glyphicon-pencil"></span> Валюта</label>
                            <input type="text" class="form-control" id="currency" name="currency" placeholder="Enter Currency"
                                   required maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="image_currency"><span class="glyphicon glyphicon-pencil"></span> Фото</label>
                            <!-- class="dropify" скрипт для выбора и предпросмотра картинки dropify.js подключаем в base.html -->
                            <input type="file"  class="dropify" id="image_currency" name="image_currency" placeholder="Enter Image Currency"
                                   data-default-file="{% static 'img/noimage.png' %}" onchange="encodeImageFileAsURL();">
                            <input type="hidden" id="b64"> <!-- THIS WILL CONTAIN THE BASE64 STRING скрытое поле для сохранения значения файла в кодировке base64 -->
                        </div>
                        <div class="form-group">
                            <label for="symbol"><span class="glyphicon glyphicon-file"></span> Символ</label>
                            <input type="text" class="form-control" id="symbol" name="symbol"
                                   placeholder="Enter Symbol" required maxlength="10">
                        </div>
                        <div class="form-group">
                            <label for="wallet"><span class="glyphicon glyphicon-pencil"></span> Кошелек(счет)</label>
                            <input type="text" class="form-control" id="wallet" name="wallet"
                                   placeholder="Enter Кошелек(счет)" required maxlength="80">
                        </div>
                        <div class="form-group">
                        <label for="is_active"><span class="glyphicon glyphicon-file"></span> Активный</label>
                        <select id="is_active" name="is_active">
                        <option value=1>Да</option>
                        <option value=0>Нет</option>
                        </select>
                        </div>
                        <input type="hidden" id="type" name="type" value="">
                        <button type="submit" class="btn btn-success btn-block"><span
                                class="glyphicon glyphicon-ok"></span> OK
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Вы уверенны?<br>Будут удалены все записи в справочниках связанные с этой валютой !!!</h4>
                </div>
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Удалить</button>
                    <button type="button" data-dismiss="modal" class="btn">Редактировать</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block js_stuff %}

<!-- Подключаем скрипт для таблицы БД наименования валют плагина datatables.net -->

<script src="{% static 'js/table_name_currency.js' %}"></script>

{% endblock js_stuff %}